{% extends 'mailings/base.html' %}
{% load my_foto%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h6 class="card-title">Статья: {{ object.title }} ({{ object.slug }})</h6>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <img src="{{ object.image|media_filter }}" width="350"  class="img-thumbnail">
                        <li>- {{ object.content }}</li>
                        <li>- {{ object.created_at }}</li>
                        <li>- {{ object.slug }}</li>
                    </ul>
                    <div class="btn-group">
                        {% if perms.blogs.change_blog and perms.blogs.delete_blog %}
                        <a href="{% url 'blogs:edit' object.pk %}"
                           class="btn btn-sm btn-outline-primary">Редактировать</a>
                        <a href="{% url 'blogs:delete' object.pk %}"
                           class="btn btn-sm btn-outline-danger">Удалить</a>
                        {% endif %}
                        <a href="{% url 'blogs:blogs' %}"
                           class="btn btn-sm btn-outline-success">Назад</a>
                    </div>
                    <div class="card-footer">
                        Просмотры: {{ object.number_of_views }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
