{% extends 'mailings/base.html' %}
{% block content %}<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <p>
            {% if user.is_authenticated or user.is_superuser %}
            <a href="{% url 'mailings:message_list' %}" class="btn btn-success">Перейти к просмотру сообщений</a>
            <a href="{% url 'mailings:mail_list' %}" class="btn btn-warning">Перейти к просмотру рассылок</a>
             {% endif %}
             </p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">{{ object.name }}</p>
                        <p class="card-text">{{ object.email }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if perms.users.change_status %}
                                <a href="{% url 'users:user_edit' object.pk %}" type="button"
                                   class="btn btn-sm btn-outline-primary">Посмотреть</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}